title: "UNDERTALE同人游戏汉化下载站"

exclude:
 - package.json
 - package-lock.json

plugins:
 - jekyll-default-layout
 - jekyll-include-cache
 - jekyll-optional-front-matter
 - jekyll-relative-links

collections:
 translations:
  # 汉化作品
  # 作者页面的每行

  output: true

 authors:
  # 汉化作者
  # 本合集内页面的代号可以用于 translation
  # 合集里的页面来注明汉化作者

  output: false

defaults:
 - scope:
    path: "_authors"
   values:
    layout: "author"
 - scope:
    path: "_translations"
   values:
    layout: "translation"

# 便于用 jekyll compose 自动生成页面
# $ bundle exec jekyll compose -c xxx yyy
# （倒也不怎么方便）
# 同时也可以当作文档
jekyll_compose:
 default_front_matter:
  authors:
   # 完全用不到的东西
   layout: "请删除本行"
   date: "请删除本行"

   # 作者的显示名称
   title: ""
   # 如果为真（不为空），则作者为团队
   team: ""
   # 作者的头像（对团队暂时无效）
   image: "xxx.jpg"
   # 作者的主页（对团队无效）
   homepage: "https://space.bilibili.com/xxx"

   # 文章内容：显示在页面下方
   # 建议填入团队成员

  translations:
   # 完全用不到的东西
   layout: "请删除本行"
   date: "请删除本行"

   title: ""
   # 汉化作者
   authors:
    - ""
   links:
    - # 如果只有一个文件则不需要 name
      name: ""
      url: ""
      # 网盘提取码
      passcode: ""
      # 可以放“压缩包提取码”之类的东西
      notes: ""

 # 为什么必须要在这里设置这个选项？？
 auto_open: true
