* {
    -webkit-font-smoothing:none;
    -moz-osx-font-smoothing:none;
		margin: auto;
		padding: 0;
		list-style-type: none;
		font-family: undertalefont;
		font-size: 20px;
		color: var(--secondary-color);
}
body {
		width: 100%;
		height: 100%;
		background-color: var(--primary-color);
	}
	@font-face {
		font-family: undertalefont;
		src: url(font/font.ttf);
	}
	p {
		background-color: var(--primary-color);
	}
	a {
		color: var(--link);
    text-decoration: none;
	}
	div {
		padding: 10px;
		margin: auto;
		background-color: var(--primary-color);
	}
	header {
		font-family: undertalefont;
		font-size: 30px;
		text-align: center;
		background-color: grey;
		color: white;
		margin: 10px;
		padding: 10px;
	}
	/*设置图片属性*/
	#icon {
		width: 30px;
		cursor: pointer;
		float: right;
		margin-right: auto;
	}
	#github {
		width: 30px;
		cursor: pointer;
		float: left;
		margin-left: auto;
	}
	/*设置深色模式属性*/
	:root {
		--primary-color: rgb(234, 234, 239); /*背景色*/
		--secondary-color: black; /*文本色*/
		--c : rgb(207, 207, 207); /*头像栏颜色*/
		--link: rgb(0, 17, 255); /*链接颜色*/
		--end-color: rgb(167, 167, 167); /*友情链接颜色*/
	}
	.dark-theme {
		--primary-color: rgb(27, 27, 27);
		--secondary-color: white;
		--c : rgb(48, 48, 48);
		--link: rgb(0, 162, 255);
		--end-color: rgb(54, 54, 54);
	}

/* 时钟效果样式 */
.clock {
	/* 禁止文本被拉取 */
	user-select: none;
	/* width: 200px; */
	background-color: black; 
	text-align: center;
	border-style: solid;
	border-radius: 10px;
	border-color: white;
	border-width: 5px;
	width: 350px;
	margin: auto;
	box-shadow: 1px 1px 5px white,
	-1px -1px 5px white;
}
.clock span{
    text-align: center;
    font-family: undertalefont;
    font-size: 20px;
    color: white;
    /* 文字阴影 实现3D效果 */
    text-shadow: 0 1px 0 #464646,
    0 2px 0 #3c3c3c,
    0 3px 0 #323232,
    0 4px 0 #282828,
    0 5px 0 #1e1e1e,
    0 6px 0 #141414,
    0 7px 0 #0a0a0a,
    0 8px 0 #000000,
    0 0 5px rgba(100, 100, 100, 0.0),
    0 -1px 3px rgba(120, 120, 120, 0.2),
    0 9px 9px rgba(140, 140, 140, 0.3),
    0 12px 12px rgba(160, 160, 160, 0.3),
    0 15px 15px rgba(180, 180, 180, 0.3);
}
.end > dd > li{
	background-color: var(--end-color);
	list-style-type: none;
	text-align: center;
	padding: 5px 0;
}

/*选项卡样式*/
.title{
	display: flex;
	box-shadow: 5px 5px 20px #333333;
	user-select: none;
}
.title1{
	display: flex;
	box-shadow: 5px 5px 20px #333333;
	user-select: none;
}
.title2{
	display: flex;
	box-shadow: 5px 5px 20px #333333;
	user-select: none;
}
.lable { 
	margin: auto;
}
.title li{
	flex: 1;
	padding: 10px 0;
	text-align: center;
	color: var(--secondary-color);
	float: center;
}
.title1 li{
	flex: 1;
	padding: 10px 0;
	text-align: center;
	color: var(--secondary-color);
	float: center;
}
.title2 li{
	flex: 1;
	padding: 10px 0;
	text-align: center;
	color: var(--secondary-color);
	float: center;
}
.title li.active{
	background-color: var(--primary-color);
	color: var(--secondary-color);
	border-top: 5px solid blue;
}
.title1 li.active1{
	background-color: var(--primary-color);
	color: var(--secondary-color);
	border-top: 5px solid blue;
}
.title2 li.active2{
	background-color: var(--primary-color);
	color: var(--secondary-color);
	border-top: 5px solid blue;
}
.content p {
	padding-left: 20px;
}
.content > li {
	padding-top: 10px;
	display: block;
	color: var(--secondary-color);
	background-color: var(--primary-color);
	box-shadow: 5px 5px 20px #333333;
	padding-bottom: 10px;
}
.content1 p {
	padding-left: 20px;
}
.content2 p {
	padding-left: 20px;
}
.content1 > li {
	padding-top: 10px;
	display: block;
	color: var(--secondary-color);
	background-color: var(--primary-color);
	box-shadow: 5px 5px 15px #333333;
	padding-bottom: 10px;
}
.content2 > li {
	padding-top: 10px;
	display: block;
	color: var(--secondary-color);
	background-color: var(--primary-color);
	box-shadow: 5px 5px 15px #333333;
	padding-bottom: 10px;
}
.content1 > li > p {
	margin-bottom: 10px;
}
.content2 > li > p {
	margin-bottom: 10px;
}
