<p>
	<img
		src="assets/images/authors/ax.jpg"
		width="80"
		height="80"
		align="middle"
		title="AX暗星233" />* 由<a href="https://b23.tv/TkwY3TA">@AX暗星233</a
	>制作的汉化项目
</p>
<p>
	<a target="_blank" href="https://wwoe.lanzouy.com/i9FyE0jsf5dg"
		>Deltarune Chaser</a
	>
</p>
<p>
	Colossus!Fell (TC!Underfell) by AX暗星233、幻-_-风、年糕_yx
	<a target="_blank" href="https://wwoe.lanzouy.com/ik3Ca0jw029i">Windows端</a>
	<a target="_blank" href="https://wwoe.lanzouy.com/inI7v0jw02fe"
		>安卓端(密码1876)</a
	>
</p>
<p>
	<a target="_blank" href="https://wwoe.lanzouy.com/iu7Sf0hio5rc"
		>Deltarune十六夜战</a
	>
</p>
<p>
	<a target="_blank" href="https://wwp.lanzouy.com/iJtAF0dbphqd"
		>Deltarune八云紫战</a
	>
</p>
<p>
	<a target="_blank" href="https://wwp.lanzouy.com/iBa8n0d9mdeh"
		>Vs.Frisk 第三版</a
	>
</p>
<p>
	<a target="_blank" href="https://wwp.lanzouy.com/ivFF00d1o1za"
		>Undertale True Genocide</a
	>
</p>
<p>
	<a
		target="_blank"
		href="https://www.mediafire.com/file/slafrrd1tf64m6m/bedlumpCN_v1.03.zip/file"
		>UNDERTALEBedLump</a
	>
	由 AX暗星 制作
</p>
<p>
	<a target="_blank" href="https://wwp.lanzouy.com/ibiL1080kjib"
		>Underverse Battles</a
	>
	由 AX暗星，幻 -_- 风，憨憨羊の宇航鸽鸽 制作
</p>
<p>
	<a target="_blank" href="https://pan.baidu.com/s/1yQSmcskwtJTrqqyUuVs4Ow"
		>Undertale Together</a
	>
	提取码：gqkl
</p>
<p>
	<a target="_blank" href="https://wwp.lanzouy.com/iezu80240qha"
		>Deltarune Chapter 1 60FPS mod</a
	>
	提取码：53dq
</p>
<p>
	<a target="_blank" href="https://wwoe.lanzouy.com/iZ8k80l0pwmb"
		>Deltarune FUN MODE CHAOS EDITION</a
	>
</p>
