<p>
	<img
		src="assets/images/authors/cxx.png"
		width="80"
		height="80"
		align="middle"
		title="Cxx_W" />* 由<a href="https://b23.tv/taTppEI">@Cxx_w</a
	>制作的汉化项目
</p>
<p>
	<a target="_blank" href="https://edge.lanzouq.com/is9sC077jl5a"
		>Edgetale Sans Hard Mode</a
	>
</p>
<p>
	<a target="_blank" href="https://nm.lanzouq.com/i88Cd02jztpg"
		>Underdove NM Fight</a
	>
</p>
<p>
	<a target="_blank" href="https://chinese.lanzouq.com/iYKydz9zjud"
		>FDY Dusttale Murder Sans Fight</a
	>
</p>
<p>
	<a target="_blank" href="https://chinese.lanzouq.com/icIz8z3xgna"
		>FDY OLD Dusttrust Phase 1</a
	>
</p>
<p>
	<a target="_blank" href="https://pan.baidu.com/s/1IjKJ_QdPSOoMb8Soow__0g"
		>FDY OLD Dusttale Phase 2</a
	>
	提取码：cxxw
</p>
<p>
	<a target="_blank" href="https://share.weiyun.com/rOlNGJxn"
		>FDY OLD Dusttrust Phase 3-4</a
	>
</p>
<p>
	<a target="_blank" href="https://chinese.lanzouq.com/iYW5uz3xm9c"
		>FDY OLD Dusttrust Phase 5</a
	>
</p>
<p>
	<a target="_blank" href="https://chinese.lanzouq.com/iGXMCyxc9mf"
		>OS-T Sans Fight</a
	>
</p>
<p>
	<a target="_blank" href="https://chinese.lanzouq.com/iyK1myuicqf"
		>TO! Ink Sans Fight 旧新版</a
	>
</p>
<p>
	<a target="_blank" href="https://chinese.lanzouq.com/iCzJiytqjkd"
		>FDY Undertale Hard Mode Sans Fight</a
	>
</p>
<p>
	<a target="_blank" href="https://chineseversion.lanzouq.com/iSLYByj9ygh"
		>UNDERTALE:Genocide Asgore</a
	>
</p>