<p>
	<img
		src="assets/images/authors/egger.jpg"
		width="80"
		height="80"
		align="middle"
		title="荷包蛋Official" />* 由<a href="https://b23.tv/PDZxFZ7"
		>@荷包蛋_official</a
	>制作的汉化项目
</p>
<p>
	<a target="_blank" href="https://egger233.lanzouy.com/iynB20kk9xtc"
		>Hard Mode Sans Fight Remake by kosh</a
	>
</p>
<p>
	<a target="_blank" href="https://egger233.lanzouy.com/icE8p0fsed5g"
		>TS！Underswap Fdy重置PTV改版ver.1</a
	>
</p>
<p>
	<a target="_blank" href="https://egger233.lanzouy.com/iCqqt0a2y6fi"
		>Gren Snas Fight</a
	>
</p>
<p>
	<a target="_blank" href="https://egger233.lanzouy.com/iI9G309lwjzc"
		>SamsaraTale Sans</a
	>
</p>
<p>
	<a target="_blank" href="https://egger233.lanzouu.com/ioxYg057r0gb"
		>Team Hardcore Dusttale Murder Sans Fight</a
	>
</p>
<p>
	<a target="_blank" href="https://egger233.lanzouu.com/iGGDn04r9h8b"
		>Undercure ZERO Papyrus Fight</a
	>
</p>
<p>
	<a target="_blank" href="https://wwd.lanzouy.com/iFvYr0466mti"
		>XMTX The New Chance</a
	>
</p>
