<p>
	<img
		src="assets/images/authors/hf.jpg"
		width="80"
		height="80"
		align="middle"
		title="幻-_-风" />* 由<a href="https://b23.tv/kypTiqW">@幻 -_- 风</a
	>制作的汉化项目
</p>
<p>
	<a target="_blank" href="https://www.123pan.com/s/r3SSVv-QsrWd">HORRORTALE</a>
	压缩包提取码：1145
</p>
<p>
	<a target="_blank" href="https://pan.baidu.com/s/1tGb_53MYQJPWRMBZ3Rg5pQ"
		>Undertale Revenge：The Unseen Ending繁体中文版</a
	>
	提取码：UTUE
</p>
<p>
	<a target="_blank" href="https://pan.baidu.com/s/1y-JjIzPY2E4qHFud9hiCDw"
		>Horrorswap</a
	>
	提取码：XDDD
</p>
<p>
	<a target="_blank" href="https://pan.baidu.com/s/1o3oxO9Zj0jq_Oby3vAKpdw"
		>Othertale</a
	>
	提取码：OTHE
</p>
<p>
	<a target="_blank" href="https://pan.baidu.com/s/1kCAvfdyi2BayD4M-KRsqNQ"
		>QcCfF Underswap:Love Struck</a
	>
	提取码：USUN 由@幻 -_- 风 @荷包蛋_official 制作
</p>
<p>
	<a target="_blank" href="https://pan.baidu.com/s/17jaCg31Y90L_uWZFWZzAAA"
		>Underfell Asgore</a
	>
	提取码:ASGO
</p>
<p>
	<a target="_blank" href="https://pan.baidu.com/s/1C-0AHJmMBqBerwvc9zoxGg"
		>Uppertale</a
	>
	提取码：RICK
</p>
<p>
	<a target="_blank" href="https://pan.bilnn.com/s/Aq7OTD">Underswitch Undyne</a
	>由：幻 -_- 风，憨憨羊の宇航鸽鸽 制作
</p>
<p>
	<a target="_blank" href="https://pan.baidu.com/s/1q45og51Tc_WmEz-Dn30YEg"
		>Lvtale Papyrus</a
	>
	提取码：LOVE
</p>
<p>
	<a target="_blank" href="https://pan.baidu.com/s/1ETyira-VRqWgSX7RMhBsQw"
		>Undertale:Revenge T.U.E</a
	>
	提取码：KDTM
</p>
