<p>
	<img
		src="assets/images/authors/ng_yx.jpg"
		width="80"
		height="80"
		align="middle"
		title="年糕_yx" />* 由<a href="https://space.bilibili.com/1508403677"
		>@年糕_yx</a
	>制作的汉化项目
</p>
<p>
	官方版UNDERTALE: Disbelief
	<a traget="_blank" href="https://www.123pan.com/s/r3SSVv-PnrWd">Windows端</a>
	<a target="_blank" href="https://www.123pan.com/s/r3SSVv-XnrWd">安卓端</a>
</p>
<p>
	<a traget="_blank" href="https://niangao-yx.lanzouo.com/i7BCa0ikxsfa"
		>NothingTale Sans Fight</a
	>
</p>
