<p>
	<img
		src="assets/images/authors/yh.jpg"
		width="80"
		height="80"
		align="middle"
		title="憨憨羊の宇航鸽鸽" />* 由<a href="https://b23.tv/rNuVZ02"
		>@憨憨羊の宇航鸽鸽</a
	>制作的汉化项目
</p>
<p>
	<a target="_blank" href="https://www.123pan.com/s/KPMSVv-JtPjv"
		>渣渣新版SwapFell</a
	>
</p>
<p>
	<a target="_blank" href="https://yuhang233.lanzout.com/ijtmc035y5mf"
		>完整版TO! Ink Sans Fight</a
	>
</p>
<p>
	<a target="_blank" href="https://yuhang233.lanzout.com/i9K6K011zi2d"
		>PTV OS-T Sans Fight</a
	>
</p>
<p>
	<a target="_blank" href="https://yuhang233.lanzout.com/icRvl00pu1yb"
		>Undertale King</a
	>
</p>
<p>
	<a target="_blank" href="https://yuhang233.lanzout.com/ijxqq00ptyrg"
		>Undertale Jevil</a
	>
</p>
<p>
	<a target="_blank" href="https://yuhang233.lanzout.com/iv1x300oqr1e"
		>Ink Sans Fight Phase 4</a
	>
</p>
<p>
	<a target="_blank" href="https://yuhang233.lanzout.com/i4zOe00nmvna"
		>HELP_tale Sans Fight</a
	>
</p>
<p>
	<a target="_blank" href="https://yuhang233.lanzout.com/iElsf00bj4je"
		>PTV Hard Mode Sans Fight</a
	>
</p>
<p>
	<a target="_blank" href="https://yuhang233.lanzout.com/ifUPaz9u0gf"
		>OMORITALE Basil Fight</a
	>
</p>
<p>
	<a target="_blank" href="https://yuhang233.lanzout.com/i69flz3w50f"
		>REVENGE Papyrus Fight</a
	>
</p>
<p>
	<a target="_blank" href="https://yuhang233.lanzout.com/ix5ZOz3cikd"
		>CLASSIC Dusttrust Sans Fight</a
	>
</p>
<p>
	<a target="_blank" href="https://yuhang233.lanzout.com/i17jsz2iv0b"
		>B-TTale Sans Fight(OS-T)</a
	>
</p>
<p>
	<a target="_blank" href="https://yuhang233.lanzout.com/iLtNFz04suh"
		>Vs.Frisk 第一版</a
	>
</p>
<p>
	<a target="_blank" href="https://pan.baidu.com/s/1XUsCUlVvxor-S3a0FHl0Ew"
		>Vs.Frisk 第二版(提取码:1145)</a
	>由<a href="https://b23.tv/0FkSEVs">@幻 -_- 风</a>修改
</p>
<p>
	<a target="_blank" href="https://yuhang233.lanzout.com/iLTp2yzx0vi"
		>Ink Sans Phase 3</a
	>
</p>
<p>
	<a target="_blank" href="https://yuhang233.lanzout.com/itcZrz1c6mb"
		>Siki Gerson Fight</a
	>
</p>
<p>
	<a target="_blank" href="https://yuhang233.lanzout.com/ipbOtyy3w0d"
		>FDY UnderSwap Papyrus Fight</a
	>
</p>
<p>
	<a target="_blank" href="https://yuhang233.lanzout.com/i9cZjyzcfri"
		>灯泡版TO! Ink Sans Fight</a
	>
</p>