<footer>
	<div class="dog">
		<img
			src="{{ '/assets/images/ui/dog.png' | relative_url }}"
			class="img-pixelart"
			alt="dog"
			data-idle="{{ '/assets/images/ui/dog.png' | relative_url }}"
			data-bark="{{ '/assets/images/ui/dog-bark.png' | relative_url }}" />
	</div>
	<div class="footer-flex">
		<div class="footer-1">
			<p>网站创始者：Cxx | 网站贡献者：Cxx、暗星、宇航、Dobby233Liu</p>
			<br />
			<p>本站仅做汉化资源的收录</p>
			<p>如果站内收录的汉化资源未经授权/侵犯了您的利益</p>
			<p>可以通知我们以删除相应链接</p>
			<p>但就侵权问题请自行与站内附带的汉化作者协商</p>
			<p>本站不负任何责任</p>
			<p>最终解释权归Cxx_w所有</p>
		</div>
		<div class="end">
			<ul>
				<li>友情宣群</li>
				<li class="shake-slow">
					<a target="_blank" href="https://jq.qq.com/?_wv=1027&k=hqIxhHHx">Undertale: Bits and Pieces交流群</a>
				</li>
				<li class="shake-vertical">
					<a target="_blank" href="https://jq.qq.com/?_wv=1027&k=PPmsM9gU">Facing Demons官方中文交流群</a>
				</li>
				<li class="shake-rotate">
					<a target="_blank" href="https://jq.qq.com/?_wv=1027&k=voIlslSg">UT同人汉化讨论群</a>
				</li>
				<li class="shake-hard">
					<a target="_blank" href="https://jq.qq.com/?_wv=1027&k=YBumZ2Xs">Cxxの交♂流群</a>
				</li>
				<br />
				<li>友情链接</li>
				<li class="shake-vertical">
					<a target="_blank" href="https://utcwiki.com">Undertale社区Wiki</a>
				</li>
			</ul>
		</div>
	</div>
	<div>
		<i style="text-decoration: none;font-style: normal;text-shadow: 0px 1px 0px black, 0px -1px 0px black, 1px 0px 0px black, -1px 0px 0px black, 2px 0px 0px black, -2px 0px 0px black, 0px 2px 0px black, 0px -2px 0px black, 0px 0px 10px var(--secondary-color);"><span style="color: red;">最</span><span style="color: green;">后</span><span style="color: blue;">更</span><span style="color: yellow;">新</span> 
			<span style="color: white;">:{{ site.time | date: "%Y/%m/%d" }} </span></i></div>
	<!--Dobby233Liu 永远滴神！-->
	<!--43E341FAEC313193CB0C179157C910B925F2028A246526263B24FBBF48274D9E-->
</footer>
