<footer>
	<div id="dog">
		<img
			src="{{ '/assets/images/ui/dog.svg' | relative_url }}"
			alt="dog"
			data-idle="{{ '/assets/images/ui/dog.svg' | relative_url }}"
			data-bark="{{ '/assets/images/ui/dog-bark.svg' | relative_url }}" />
	</div>
	<div class="footer-1">
		<p>网站创始者：Cxx | 网站贡献者：Cxx、暗星、宇航</p>
		<br />
		<p>本站仅做汉化资源的收录</p>
		<p>如果站内收录的汉化资源未经授权/侵犯了您的利益</p>
		<p>可以通知我们以删除相应链接</p>
		<p>但就侵权问题请自行与站内附带的汉化作者协商</p>
		<p>本站不负任何责任</p>
		<p>最终解释权归Cxx_w所有</p>
	</div>
	<div class="end">
		<dd>
			<li>友情宣群</li>
			<li>
				<a target="_blank" href="https://jq.qq.com/?_wv=1027&k=hqIxhHHx"
					>Undertale: Bits and Pieces交流群</a
				>
			</li>
			<li>
				<a target="_blank" href="https://jq.qq.com/?_wv=1027&k=PPmsM9gU"
					>Facing Demons官方中文交流群</a
				>
			</li>
			<li>
				<a target="_blank" href="https://jq.qq.com/?_wv=1027&k=voIlslSg"
					>UT同人汉化讨论群</a
				>
			</li>
			<li>
				<a target="_blank" href="https://jq.qq.com/?_wv=1027&k=YBumZ2Xs"
					>Cxxの交♂流群</a
				>
			</li>
			<li>友情链接</li>
			<li>
				<a target="_blank" href="https://utcwiki.com">Undertale社区Wiki</a>
			</li>
		</dd>
	</div>
	<div>最后更改于：{{ site.time | date: "%Y/%m/%d" }}</div>
	<!--由AX暗星233进行网站设置（草，这什么鬼注释，删了删了（不））-->
	<!--43E341FAEC313193CB0C179157C910B925F2028A246526263B24FBBF48274D9E-->
</footer>