{%- assign sep_namevalue = '<!--||-->' -%}
{%- assign sep_tab = '<!--//-->' -%}
{%- assign content_tabs = include.content | split: sep_tab | compact -%}
<div class="tabbed-table">
	<ul class="tabbed-table-title">
		{%- for tab in content_tabs %}
			<li>{{ tab | split: sep_namevalue | slice: 0 }}</li>
		{% endfor -%}
	</ul>
	<ul class="tabbed-table-content">
		{%- for tab in content_tabs %}
			<li>{{ tab | split: sep_namevalue | slice: 1 }}</li>
		{% endfor -%}
	</ul>
</div>
