<header>
	<div class="header-title">
		<div class="buttons">
			<a target="_blank" href="https://github.com/Cxxw233/UTFangameChsDownload"
				><img
					src="{{ '/assets/images/ui/github.svg' | relative_url }}"
					title="点击我查看此网页的Github仓库"
					id="github"
			/></a>
			<button id="change-accent" title="点击我切换主题">
				<img
					src="{{ '/assets/images/ui/accent_dark.png' | relative_url }}"
					data-dark-icon="{{ '/assets/images/ui/accent_dark.png' | relative_url }}"
					data-light-icon="{{ '/assets/images/ui/accent_light.png' | relative_url }}"
					title="点击我切换主题" />
			</button>
		</div>
		<a href="{{ '/' | relative_url }}">{{ site.title }}</a>
	</div>

	<div class="fake-2nd-heading">本站由 Cxx_w 创建</div>
	{%- if layout.is_home %}
	<div class="fake-3rd-heading">
		<p>如果你希望让自己(所在团队)的汉化项目被收录，</p>
		<p>
			请联系<a href="https://b23.tv/taTppEI">@Cxx_w</a>/<a href="https://b23.tv/TkwY3TA">@AX暗星233</a
			>/<a href="https://b23.tv/rNuVZ02">@憨憨羊の宇航鸽鸽</a>（三选一）
		</p>
		<p>如果是团队项目，最好附上成员名单、分工和B站主页</p>
		<br />
		<p>个人项目汉化者按照汉化数量排序 团队项目汉化组按照收录顺序排序</p>
		<p>汉化作品按照发布顺序排序</p>
	</div>
	{%- endif %}

	<!-- 显示时钟 -->
	<div class="clock">
		<span id="clock-year">0000</span><span>/</span><span id="clock-month">00</span><span>/</span
		><span id="clock-day">00</span> <span>| </span><span id="clock-dayy">日期</span><span> |</span>
		<span id="clock-1">0</span><span id="clock-2">0</span><span id="clock-3">:</span
		><span id="clock-4">0</span><span id="clock-5">0</span><span id="clock-6">:</span
		><span id="clock-7">0</span><span id="clock-8">0</span>
	</div>
</header>
