<!--看到这个的人一定在看这个吧-->

<meta charset="utf-8" />

<title>{{ include.title | default: site.title }}</title>
<meta name="keywords" content="Undertale, 汉化, 中文本地化, Deltarune, Undertale AU, UT同人" />

<meta name="viewport" content="width=device-width" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link rel="preload" href="{{ '/assets/undertalefont.ttf' | relative_url }}" as="font" type="font/ttf" crossorigin />
<link rel="prefetch" as="image" href="{{ '/assets/images/ui/dog.png' | relative_url }}" />
<link rel="prefetch" as="image" href="{{ '/assets/images/ui/dog-bark.png' | relative_url }}" />

<link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}" />
