<p>* 目前成员名单：</p>
<p>
	* 项目负责人：<a href="https://space.bilibili.com/443074427">@AX暗星233</a>
</p>
<p>
	* 翻译人员：<a href="https://space.bilibili.com/443074427">@AX暗星233</a>、<a
		href="https://space.bilibili.com/252906762"
		>@憨憨羊の宇航鸽鸽</a
	>、<a href="https://space.bilibili.com/314848329/">@lzars</a>、<a
		href="https://space.bilibili.com/1646638995/"
		>@Ralsei_Cotton</a
	>、<a href="https://space.bilibili.com/485880984/">@调爪</a>
</p>
<p>
	* 画工：<a href="https://space.bilibili.com/440126325/">@纸疯针Official</a>、<a
		href="https://space.bilibili.com/500995957/"
		>@小树叶不是树叶</a
	>
</p>
<p>
	<a
		target="_blank"
		href="https://pan.baidu.com/s/1_gsirDYUGoSzvtrA5LF74A?pwd=542b"
		>Undertale:Bits And Pieces</a
	>
	提取码：542b
</p>
