<p>* 目前成员名单：</p>
<p>* 项目负责人：<a href="https://space.bilibili.com/443074427">@AX暗星233</a></p>
<p>* 文本校正：<a href="https://space.bilibili.com/616770040">@Bronie_</a></p>
<p>
	* 技术程序员：<a href="https://space.bilibili.com/252906762">@憨憨羊の宇航鸽鸽</a>、<a
		href="https://space.bilibili.com/429803290"
		>@智慧一</a
	>
</p>
<p>* 美术重绘：<a href="https://space.bilibili.com/500995957">@小树叶不是树叶</a></p>
<p>* Boogie中文配音：<a href="https://space.bilibili.com/694165479">@抑郁的三叶草</a></p>
<p>* Metta中文配音：<a href="https://space.bilibili.com/279554110">@纳塔斯威尔森</a></p>
<p>* Chara中文配音：<a href="https://space.bilibili.com/478857921">@一只chara路过</a></p>
<p>
	* IGB团队官方监制:
	<a href="https://space.bilibili.com/1603675278">@IGBTeam（Lepeha）</a>
</p>
<p>在做了，你先别急</p>
