<p>* 目前成员名单：</p>
<p>
	* 主催：<a href="https://space.bilibili.com/277750632">鸥皇不欧</a>
	<a href="https://space.bilibili.com/397457730/">190团队</a>
</p>
<p>
	* 文案 / 校对 / 润色：<a href="https://space.bilibili.com/277750632">鸥皇不欧</a>
	<a href="https://space.bilibili.com/152296197">奕哲</a>
</p>
<p>
	* 美工：鲸流 天机汉化组（<a href="https://space.bilibili.com/470552417/">希铁石z</a>
	<a href="https://space.bilibili.com/40748676">KodLenss</a>）
</p>
<p>
	* 程序：天机汉化组（<a href="https://space.bilibili.com/470552417/">希铁石z</a>
	<a href="https://space.bilibili.com/40748676">KodLenss</a>）
</p>
<p>
	<a target="_blank" href="https://xitieshiz.lanzouy.com/b0118mtli">TS! Underswap</a>
	提取码：tsus
</p>
