@font-face {
	font-family: undertalefont;
	src: url(undertalefont.ttf);
}

/*设置深色模式属性*/
:root {
	--primary-color: rgb(234, 234, 239); /*背景色*/
	--post-background-color: rgb(255, 255, 255);
	--secondary-color: black; /*文本色*/
	--c: rgb(207, 207, 207); /*头像栏颜色*/
	--link: rgb(0, 17, 255); /*链接颜色*/
	--end-color: rgb(167, 167, 167); /*友情链接颜色*/
	--main-font-size: 18px;
	--main-heading-font-size: 28px;
	--secondary-heading-font-size: 24px;
	--thirdary-heading-font-size: 20px;
}
.dark-theme {
	--primary-color: rgb(27, 27, 27);
	--post-background-color: rgb(48, 48, 48);
	--secondary-color: white;
	--c: rgb(72, 72, 72);
	--link: rgb(0, 162, 255);
	--end-color: rgb(54, 54, 54);
}

*,
::before,
::after {
	box-sizing: border-box;
}
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	tab-size: 4;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--primary-color);
	font-size: var(--main-font-size);
	color: var(--secondary-color);
	font-family: undertalefont;
	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: none;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.page {
	background-color: var(--post-background-color);
	color: var(--secondary-color);
	margin: 10px;
	padding: 20px;
}

a {
	color: var(--link);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
header .fake-2nd-heading,
header .fake-3rd-heading {
	font-weight: normal;
	margin: 0;
	margin-bottom: 15px;
}
header .fake-2nd-heading,
header .fake-3rd-heading {
	text-align: center;
	margin: 10px;
}
h2,
h3,
h4,
h5,
h6 {
	color: var(--secondary-color);
}
h2, header .fake-2nd-heading {
	font-size: var(--secondary-heading-font-size);
}
h3, header .fake-3rd-heading {
	font-size: var(--thirdary-heading-font-size);
}
h4 {
	font-size: 18px;
}
header .fake-3rd-heading > p,
header .fake-3rd-heading > br,
footer .footer-1 > p {
	margin: 0 auto;
}

header .header-title {
	font-size: var(--main-heading-font-size);
	background-color: grey;
	color: white;
	padding: 10px;
	margin: 10px;
}
header .header-title a {
	text-align: center;
	display: block;
	color: white;
}

/*设置按钮属性*/
header .buttons {
	display: inline;
}
header .buttons * {
	margin: 0;
	padding: 0;
	width: 30px;
}
header .buttons #github {
	float: left;
}
header .buttons #change-accent {
	float: right;
}
header .buttons button {
	appearance: none;
	-webkit-appearance: none;
	background: transparent;
	border: 0;
}
header .buttons button#change-accent > img {
	width: 100%;
}

/* 时钟效果样式 */
.clock {
	/* 禁止文本被拉取 */
	user-select: none;
	background-color: black;
	text-align: center;
	border-style: solid;
	border-radius: 10px;
	border-color: white;
	border-width: 5px;
	padding: 10px 15px;
	margin: 0 auto;
	max-width: fit-content;
	box-shadow: 1px 1px 5px white, -1px -1px 5px white;
	font-size: var(--main-font-size);
	color: white;
	/* 文字阴影 实现3D效果 */
	text-shadow: 0 1px 0 #464646, 0 2px 0 #3c3c3c, 0 3px 0 #323232, 0 4px 0 #282828, 0 5px 0 #1e1e1e,
		0 6px 0 #141414, 0 7px 0 #0a0a0a, 0 8px 0 #000000, 0 0 5px rgba(100, 100, 100, 0),
		0 -1px 3px rgba(120, 120, 120, 0.2), 0 9px 9px rgba(140, 140, 140, 0.3),
		0 12px 12px rgba(160, 160, 160, 0.3), 0 15px 15px rgba(180, 180, 180, 0.3);
}

footer {
	text-align: center;
	margin: auto;
}
footer #dog {
	padding: auto;
	position: relative;
	margin: auto;
	top: -18px;
}
footer #dog > img {
	float: right;
}
footer div {
	padding: 20px;
	margin: 0 10px;
}
footer div.footer-1 {
	background-color: #6b6b6b;
}
footer div.end {
	background-color: var(--end-color);
	list-style-type: none;
}
footer div.end > dd {
	margin: 0;
}

/*选项卡样式*/
.tabbed-table {
	margin: 10px;
}
.tabbed-table-title {
	display: flex;
	border: 1px solid lightgray;
	box-shadow: 5px 1px 20px #333333;
	padding: 0;
	margin: 0;
	overflow: auto;
	width: auto;
	height: auto;
	float: center;
}
.tabbed-table-title li {
	flex: 1 0 120px;
	padding: 10px 5px;
	text-align: center;
	list-style-type: none;
	width: fit-content;
	/*outline: 1px solid #cccccc;*/
	background: transparent;
	border-top: 5px solid transparent;
	word-wrap: break-word;
}
.tabbed-table-title li.tabbed-table-title-active {
	background: var(--primary-color);
	border-color: var(--link);
}
.tabbed-table-content {
	padding: 0;
	margin: 0;
}
.tabbed-table-content p,
.tabbed-table-content div.author-avatar-pres {
	padding: 0 15px;
	margin: 15px 0;
}
.tabbed-table-content > li {
	display: block;
	color: var(--secondary-color);
	background-color: var(--primary-color);
	box-shadow: 5px 5px 20px #333333;
	border: 1px solid darkgray;
	padding: 5px 0;
	list-style-type: none;
}

.author-avatar-pres {
	display: flex;
	align-items: center;
	margin: auto;
}
.author-avatar-pres img {
	margin-right: 10px;
}

.search-form-container {
	width: 100%;
	margin-bottom: 10px;
}
form[name="search-form"] {
	display: flex;
	width: auto;
	flex-flow: row wrap;
	justify-content: center;
	font-size: 16px;
	height: 40px;
}
form[name="search-form"] input[type="search"] {
	appearance: none;
	-webkit-appearance: none;
	flex-basis: 50%;
	max-width: 70%;
	padding: 0 10px;
	border: 1px solid var(--c);
	background: white;
}
form[name="search-form"] input[type="search"]:disabled {
	background: lightgray;
	color: gray;
}
form[name="search-form"] input[type="search"]:is(:focus, :active) {
	outline: 0;
	border-color: var(--secondary-color);
}
form[name="search-form"] input[type="search"]:not(:focus, :active)::-webkit-search-cancel-button {
	display: none;
}
form[name="search-form"] button {
	border: 2px solid var(--c);
	background-color: lightgray;
}
form[name="search-form"] button:hover {
	background-color: darkgray;
}
form[name="search-form"] button[type="submit"] {
	flex-basis: 80px;
	margin: 0 5px;
}
.search-form-label-hide {
	display: none;
}

.search-screens {
	width: 100%;
}
.search-screens div {
	height: auto;
}
.search-loading {
	padding: 25%;
	text-align: center;
}
