name: 将网站部署到 Pages

on:
 # Runs on pushes targeting the default branch
 push:
  branches: [main]

 # Allows you to run this workflow manually from the Actions tab
 workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
 contents: read
 pages: write
 id-token: write

# Allow one concurrent deployment
concurrency:
 group: "pages"
 cancel-in-progress: true

jobs:
 build:
  name: 生成
  runs-on: ubuntu-latest
  steps:
   - name: 获取代码
     uses: actions/checkout@v3
   - name: 配置 Ruby
     uses: ruby/setup-ruby@ee2113536afb7f793eed4ce60e8d3b26db912da4 # v1.127.0
     with:
      ruby-version: "3.3"
      rubygems: latest
      bundler-cache: true
      cache-version: 0 # Increment this number if you need to re-download cached gems
   - name: 配置 Pages
     id: pages
     uses: actions/configure-pages@v2
   - name: 生成网站
     run: bundle exec jekyll build --baseurl "${{ steps.pages.outputs.base_path }}"
     env:
      JEKYLL_ENV: production
   - name: 上传结果
     uses: actions/upload-pages-artifact@v1

 deploy:
  name: 部署
  environment:
   name: github-pages
   url: ${{ steps.deployment.outputs.page_url }}
  runs-on: ubuntu-latest
  needs: build
  steps:
   - name: 部署到 GitHub Pages
     id: deployment
     uses: actions/deploy-pages@v1
